---
layout: default
---
{% include featured.html %}

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      <h1 class="page-heading">
      </h1>
      <section>
        <ul class="post-list">
          {% assign displayPosts = site.posts | where: 'show', true %}
          {% for post in displayPosts offset:3 %}
            <li>
              {% include post.html post=post %}
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</div>
