<div class="featured-container">
  {% assign displayPosts = site.posts | where: 'show', true %}

  {% for post in displayPosts limit:1 offset:0 %}
    <div class="featured-post" style="background-image: url('{{ post.featured_image}}');">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h1 class="post-title">{{ post.title }}</h1>
      </a>
    </div>
  {% endfor %}
  <div class="bottom-row">
    {% for post in displayPosts limit:1 offset:1 %}
      <div class="featured-post" style="background-image: url('{{ post.featured_image}}');">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post-title">{{ post.title }}</h1>
        </a>
      </div>
    {% endfor %}
    {% for post in displayPosts limit:1 offset:2 %}
      <div class="featured-post" style="background-image: url('{{ post.featured_image}}');">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post-title">{{ post.title }}</h1>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
