<ul class="share-list">
  <li>
    <a class="icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url_blog }}{{ page.url }}" target="_blank" rel="noopener noreferrer" title="Share on Facebook">
      <img src="/images/facebook-icon.png"/>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url_blog }}{{ page.url }}&title={{ page.title | url_encode  }}&summary={{ page.description | url_encode  }}&source={{ site.url }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">
      <img src="/images/linkedin-icon.png"/>
    </a>
  </li>
  <li>
    <a class="icon" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }} %7C {{ site.url_blog }}{{ page.url }}" target="_blank" rel="noopener noreferrer" title="Share on Twitter">
      <img src="/images/twitter-icon.png"/>
    </a>
  </li>
</ul>
