$white: #FFFFFF;
$black: #000000;
$blue: #1678FF;
$pink: #d91965;
$light-grey: #a0a0a0;
$lighter-grey: #ececec;
$grey: #525252;
$body: 'Graphik', sans-serif;
$title-font-family: 'Libre Baskerville', sans-serif;

a {
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    color: $black;
  }
  text-decoration: none;
}

div.header {
  font-family: $body;
  background-color: $white;
  text-align: center;
  color: $black;
  background-size: cover;
  .header-title {

    font-family: $body;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.91px;
    color: $black;
  }
  .header-subtitle {

    font-family: $body;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.61px;
    color: $black;
    @include media-query($on-palm) {
      font-size: 20px;
    }
  }
  .scrim-layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 940px;
    margin: auto;
    text-align: left;
    padding: 35px 15px 20px;
    @include media-query($md-width) {
      max-width: $md-content-width;
    }
    @include media-query($on-palm) {
      padding: 10px 15px;
    }
  }
}

.related-blogs-container{
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  .more {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-family: "Graphik", sans-serif;
    color: $black;
    @include media-query($on-palm) {
      font-size: 23px;
    }
  }
  .bottom-row {
    margin-top: 10px;
    display: flex;
    @include media-query($on-palm) {
      flex-direction: column;
    }
    .featured-column {
      flex-basis: 100%;
      .post-item {
        .post-title  {
          font-size: 20px;
        }
         padding: 30px 20px 30px 20px;
         @include media-query($on-palm) {
           padding: 15px 0px 30px 0px;
         }
      }
    }
    .featured-column:last-of-type {
        margin-left: 10px;
        @include media-query($on-palm) {
          margin-top: 10px;
          margin-left: 0;
        }
    }
    .featured-post {
      height: 200px;
      @include media-query($on-palm) {
        height: 200px;
      }
      @media (min-width: $on-palm + 1) {
        flex: 0.5;
      }
    }
  }
  .featured-post {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
    img {
      box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .5);
    }
    @include media-query($on-palm) {
      height: 200px;
    }
  }
  @include media-query($md-width) {
    max-width: $md-content-width;
  }
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.featured-container {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  // display: flex;
  flex-direction: column;
  .bottom-row {
    margin-top: 10px;
    display: flex;
    @include media-query($on-palm) {
      flex-direction: column;
    }
    .featured-column {
      .post-item {
         padding: 30px 20px 30px 20px;
         @include media-query($on-palm) {
           padding: 15px 0px 30px 0px;
         }
      }
    }
    .featured-column:last-of-type {
        margin-left: 10px;
        @include media-query($on-palm) {
          margin-top: 10px;
          margin-left: 0;
        }
    }
    .featured-post {
      height: 270px;
      @include media-query($on-palm) {
        height: 200px;
      }
      @media (min-width: $on-palm + 1) {
        flex: 0.5;
      }
    }
  }
  .featured-post {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    a {
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    }
    img {
      box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .5);
    }
    @include media-query($on-palm) {
      height: 200px;
    }
  }
  @include media-query($md-width) {
    max-width: $md-content-width;
  }
  @include media-query($on-palm) {
    flex-direction: column;
  }
}


.post-author-avatar {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  >li {
    margin-bottom: 15px;
    @include media-query($on-palm) {
      margin-bottom: 15px;
    }
  }
  >li:last-child {
    margin-bottom: 20px;
  }
}

a.blog-category {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-family: $body;
  @include media-query($on-palm) {
    font-size: 13px;
    margin-bottom: 3px;
  }
}

.post-title {
  color: $black;
  font-family: $title-font-family;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  margin-top: 10px;
  @include media-query($on-palm) {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 0;
  }
}

article.post-item {
  a {
    color: $black;
  }
  .author {
    font-family: $body;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  display: block;
  padding: 30px 50px 30px 30px;
  // box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .2);
  .post-time-info {
    text-align: left;
    font-family: $body;
    margin-bottom: 10px;
    font-size: 14px;
    @include media-query(767px) {
      font-size: 1.1em;
      text-align: left;
      margin-bottom: 6px;
    }
  }
  .post-info {
    display: block;
    word-break: break-word;
    h2 {
      font-size: 1.2em;
    }
    p {
      font-family: $body;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.34px;
      margin-bottom: 20px;
      @include media-query($on-palm) {
        margin-bottom: 15px;
      }
    }
    @include media-query($on-palm) {
      width: 100%;
    }
  }
  .read-more {
    color: $blue;
    font-family: $body;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: .02em;
    @include media-query($on-palm) {
      font-size: 1.1em;
    }
  }
  @include media-query($on-palm) {
    padding: 20px;
  }
}





.post-meta {
  font-size: $base-font-size;
  color: $black;
}

.page-content {
  padding: 0;
}

.page-heading {
  font-size: 20px;
}


/**
 * Posts
 */

.disqus-section {
  .disqus_title {
    @include font_black();
    color: #BBBBBB;
  }
}

.get-in-touch {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    background-color: $pink;
    color: white;
    border-radius: 5px;
    font-family: $body;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  @include media-query($on-palm) {
    display: flex;
  }
}

.post-header {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  .wrapper {
    height: 100%;
    display: table;
    width: 100%;
    text-align: left;
  }
  @include media-query($on-palm) {
    padding: 0;
  }
}

.share-list {
  padding-left: 0;
  li {
    float: left;
    padding: 5px 30px;
    a.icon {
      text-decoration: none;
      margin: 0 0;
      font-size: 40px;
      &:hover {}
    }
    @include media-query($on-palm) {
      padding: 5px 12px;
    }
  }
}
.post-header {
  .wrapper {
    display: contents;
  }
  .post-share {
    float: right;
    margin-top: 20px;
  }
  .post-author-info {
    float: left;
    width: 50%;
    font-family: $body;
    font-size: 16px;
    .post-author-image {
      width: 90px;
      position: relative;
      float: left;
      margin-right: 10px;
      @include media-query($on-palm) {
        width: 74px;
      }
    }
    .post-author {
      margin-top: 20px;
      font-family: $body;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5em;
      letter-spacing: normal;
      a {
        color: $black;
      }
      span {
        color: $black;
      }
      @include media-query($on-palm) {
        margin-top: 10px;
      }
    }
  }
}
.post-content {
  display: flex;
  .lets-talk {
    .banner {
      position: fixed;
      top: 250px;
      margin-left: 20px;
      width: 280px;
      color: $black;
      font-family: $body;
      padding: 40px 30px 70px 30px;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 16px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        text-align: center;
        background-color: $pink;
        color: white;
        border-radius: 5px;
        font-family: $body;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        width: 90%;
        height: 50px;
      }
      ul.share-list {
        margin-left: 0px;
        li {
          padding: 5px 1px 20px !important;
          width: 69px;
          a{
            border-color: #000000;
            border-style: solid;
            border-width: 2px;
            background-color: #FFFFFF;
          }
        }
      }

    }
    @include media-query($md-width) {
      display: none;
    }
  }
  .post {
    margin-bottom: $spacing-unit;
    width: 70%;
    .post-footer {
      .dots {
        font-family: $body;
        color: $black;
        letter-spacing: 15px;
      }
      .share-list {
        margin-left: 0;
        li {
          padding: 10px 30px 10px 0px;
        }
      }
      .bender {
        box-shadow: 10px 14px 25px 5px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
      }
    }
    @include media-query($md-width) {
      width: 100%;
    }
  }
}

.small {
  font-size: 12px !important;
}

.post_container {
  color: $black;
  font-size: $text-size;
  line-height: $line-height;
  font-family: $body;
  letter-spacing: 0.34px;
  p {
    font-family: $body;
    margin-bottom: 1.4em;
    font-size: 16px;
    line-height: 1.7;
  }
  h2 {
    font-family: $title-font-family;
    font-size: 29px;
    margin-top: 30px;
    margin-bottom: 20px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-family: $title-font-family;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 16px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-family: $title-font-family;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 13px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
  ul {
    li {
      padding-bottom: 0.25em;
      list-style-type: disc;
      font-size: 16px;
    }
    @include media-query($on-palm) {
      padding-left: 0;
    }
  }
  ol {
    list-style-type: decimal;
    padding-bottom: 0.25em;
    &.alphabetical {
      list-style-type: lower-alpha;
    }
    li {
      font-size: 16px;
    }
    @include media-query($on-palm) {
      padding-left: 0;
    }
  }
}

code {
  display: inline-block !important;
  white-space: normal;
}

pre code {
  white-space: pre;
}

div.post_container a {
  color: $pink;
}

.container.footer {
  padding-left: 0;
  padding-right: 0;
  @include media-query($md-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#goToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: $pink;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: $body;
  font-size: 2em;

  span {
    padding-bottom: 5px;
  }
}
