$white: #FFFFFF;
$black: #000000;
$blue: #1678FF;
$pink: #d91965;
$light-grey: #a0a0a0;
$lighter-grey: #ececec;
$grey: #525252;
$body: 'Source Sans Pro', sans-serif;

a {
  color: $grey;
  &:visited {
    color: $grey;
  }
  &:hover {
    color: $grey;
  }
  text-decoration: none;
}

div.header {
  font-family: $body;
  background-color: $white;
  text-align: center;
  color: $black;
  background-size: cover;
  .header-title {
    letter-spacing: 0px;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    color: $black;
    margin-bottom: 0;
  }
  .header-subtitle {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2em;
    @include media-query($on-palm) {
      font-size: 20px;
    }
  }
  .scrim-layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 940px;
    margin: auto;
    text-align: left;
    padding: 50px 15px 20px;
    @include media-query($md-width) {
      max-width: $md-content-width;
    }
    @include media-query($on-palm) {
      padding: 10px 15px;
    }
  }
}

.featured-container {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  display: flex;
  .right-column {
    margin-left: 10px;
    @include media-query($on-palm) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .featured-post {
    position: relative;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
    img {
      box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .5);
    }
    .post-title {
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 2em;
      @include media-query($on-palm) {
        font-size: 20px;
      }
    }
  }
  .featured-post:last-of-type {
    margin-top: 10px;
  }
  @include media-query($md-width) {
    max-width: $md-content-width;
  }
  @include media-query($on-palm) {
    flex-direction: column;
  }
}


.post-author-avatar {
  float: left;
  border-radius: 50%;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 1);
  margin-right: 20px;
  margin-bottom: 10px;
}

.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  >li {
    margin-bottom: 50px;
    @include media-query($on-palm) {
      margin-bottom: 20px;
    }
  }
  article {
    display: block;
    padding: 30px 50px;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .2);
    .post-time-info {
      text-align: right;
      font-family: $body;
      @include media-query(767px) {
        font-size: 1.1em;
        text-align: left;
        margin-bottom: 15px;
      }
    }
    .post-info {
      float: left;
      display: block;
      width: 77%;
      word-break: break-word;
      h1.post-title {
        margin-top: 4px;
        @include media-query($on-palm) {
          margin-bottom: 5px;
        }
      }
      h2 {
        font-size: 1.2em;
      }
      p {
        margin-bottom: 20px;
        @include media-query($on-palm) {
          margin-bottom: 15px;
        }
      }
      @include media-query($on-palm) {
        width: 100%;
      }
    }
    .read-more {
      color: $blue;
      font-family: $body;
      font-size: 1.4em;
      font-weight: 300;
      letter-spacing: .02em;
      @include media-query($on-palm) {
        font-size: 1.1em;
      }
    }
    @include media-query($on-palm) {
      padding: 20px;
    }
  }
}

.post-meta {
  font-size: $base-font-size;
  color: $grey-color;
}

.page-content {
  padding: 0;
}

.page-heading {
  font-size: 20px;
}


/**
 * Posts
 */

.disqus-section {
  .disqus_title {
    @include font_black();
    color: #BBBBBB;
  }
}

.get-in-touch {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    background-color: $pink;
    color: white;
    border-radius: 5px;
    font-family: $body;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  @include media-query($on-palm) {
    display: flex;
  }
}

.post-header {
  text-align: center;
  .wrapper {
    height: 100%;
    display: table;
    width: 100%;
    text-align: left;
  }
  .post-title {
    color: $black;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0px;
    @include media-query($on-palm) {
      font-size: 25px;
      letter-spacing: 2px;
      margin-top: 0;
    }
  }
  @include media-query($on-palm) {
    padding: 0;
  }
}

.post-title {
  font-family: $body;
  font-size: 2.5em;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: bold;
  color: $white;
  a {
    color: $black;
  }
  @include media-query($on-palm) {
    font-size: 20px;
  }
}

.share-list {
  padding-left: 0;
  li {
    float: left;
    padding: 5px 30px;
    a.icon {
      text-decoration: none;
      margin: 0 0;
      font-size: 40px;
      &:hover {}
    }
    @include media-query($on-palm) {
      padding: 5px 12px;
    }
  }
}
.post-header {
  .wrapper {
    display: contents;
  }
  .post-share {
    float: right;
    margin-top: 20px;
  }
  .post-author-info {
    float: left;
    width: 50%;
    font-family: $body;
    font-size: 16px;
    .post-author-image {
      width: 90px;
      position: relative;
      float: left;
      margin-right: 10px;
      @include media-query($on-palm) {
        width: 74px;
      }
    }
    .post-author {
      margin-top: 20px;
      a {
        color: $black;
      }
      span {
        color: $light-grey;
      }
      @include media-query($on-palm) {
        margin-top: 10px;
      }
    }
  }
}
.post-content {
  display: flex;
  .lets-talk {
    .banner {
      position: fixed;
      top: 250px;
      margin-left: 20px;
      width: 280px;
      color: $black;
      font-family: $body;
      padding: 40px 30px 70px 30px;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 16px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        text-align: center;
        background-color: $pink;
        color: white;
        border-radius: 5px;
        font-family: $body;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        width: 90%;
        height: 50px;
      }
    }
    @include media-query($md-width) {
      display: none;
    }
  }
  .post {
    margin-bottom: $spacing-unit;
    width: 70%;
    .post-footer {
      .dots {
        font-family: $body;
        color: $light-grey;
        letter-spacing: 15px;
      }
      .share-list {
        margin-left: 0;
        li {
          padding: 10px 30px 10px 0px;
        }
      }
      .bender {
        box-shadow: 10px 14px 25px 5px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
      }
    }
    @include media-query($md-width) {
      width: 100%;
    }
  }
}

.post_container {
  color: #555;
  font-size: $text-size;
  line-height: $line-height;
  font-family: $body;
  p {
    margin-bottom: 1.4em;
  }
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
  ul {
    li {
      padding-bottom: 0.25em;
      list-style-type: disc;
    }
  }
  ol {
    list-style-type: decimal;
    padding-bottom: 0.25em;
    &.alphabetical {
      list-style-type: lower-alpha;
    }
  }
}

code {
  display: inline-block !important;
}

pre code {
  white-space: pre;
}

div.post_container a {
  color: $pink;
}

.container.footer {
  padding-left: 0;
  padding-right: 0;
  @include media-query($md-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
